In [ ]:
# importing required libraries

import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Q1:

In [ ]:
driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
url1='https://www.naukri.com/'
driver.get(url1)

In [ ]:
job_search=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
job_search

In [ ]:
job_search.send_keys('Data Analyst')

In [ ]:
job_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
job_locn

In [ ]:
job_locn.send_keys('Bangalore')

In [ ]:
search_btn=driver.find_element_by_class_name('qsbSubmit')
search_btn

In [ ]:
search_btn.click()

In [ ]:
#Extracting job titles

title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags

In [ ]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
print(len(job_titles))    
job_titles_10=job_titles[0:10]
job_titles_10

In [ ]:
#Extracting job location

locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
locn_tags

In [ ]:
job_location=[]

for i in locn_tags:
    job_location.append(i.text)
    
print(len(job_location))
job_location_10=job_location[0:10]
job_location_10

In [ ]:
#Extracting company name

name_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
name_tags

In [ ]:
company_name=[]

for i in name_tags:
    company_name.append(i.text)
    
print(len(company_name))
company_name_10=company_name[0:10]
company_name_10

In [ ]:
#Extracting the experience required

exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
exp_tags

In [ ]:
experience_required=[]

for i in exp_tags:
    experience_required.append(i.text)
    
print(len(experience_required))
experience_required_10=experience_required[0:10]
experience_required_10

In [ ]:
df1=pd.DataFrame({"Job Title":job_titles_10,"Job Location":job_location_10,"Company Name":company_name_10,"Experience Required":experience_required_10})
df1.index=np.arange(1,len(df1)+1)
df1

# Q2:

In [ ]:
driver2=webdriver.Chrome("chromedriver.exe")

In [ ]:
url2="https://www.naukri.com/"
driver2.get(url2)

In [ ]:
search_job=driver2.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_job

In [ ]:
search_job.send_keys("Data Scientist")

In [ ]:
search_locn=driver2.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_locn

In [ ]:
search_locn.send_keys("Bangalore")

In [ ]:
search_btn=driver2.find_element_by_class_name("qsbSubmit")
search_btn

In [ ]:
search_btn.click()

In [ ]:
#Extracting job title

title_tags=driver2.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

In [ ]:
job_title=[]

for i in title_tags:
    job_title.append(i.text)
    
job_title_10=job_title[0:10]
job_title_10

In [ ]:
#Extracting job location

locn_tags=driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locn_tags

In [ ]:
job_location=[]

for i in locn_tags:
    job_location.append(i.text)
    
job_location_10=job_location[0:10]
job_location_10

In [ ]:
#Extracting company name

name_tags=driver2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name_tags

In [ ]:
company_name=[]

for i in name_tags:
    company_name.append(i.text)
    
company_name_10=company_name[0:10]
company_name_10

In [ ]:
df2=pd.DataFrame({"Job Title":job_title_10,"Job Location":job_location_10,"Company Name":company_name_10})
df2.index=np.arange(1,len(df2)+1)
df2

# Q3:

In [ ]:
driver3=webdriver.Chrome("chromedriver.exe")

In [ ]:
url3="https://www.naukri.com/"
driver3.get(url3)

In [ ]:
search_job=driver3.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_job

In [ ]:
search_job.send_keys("Data Scientist")

In [ ]:
search_btn=driver3.find_element_by_class_name("qsbSubmit")
search_btn

In [ ]:
search_btn.click()

In [ ]:
locn_filter=driver3.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")
locn_filter

In [ ]:
locn_filter.click()

In [ ]:
salary_filter=driver3.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
salary_filter

In [ ]:
salary_filter.click()

In [ ]:
#Extracting job title

title_tags=driver3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags

In [ ]:
job_title=[]

for i in title_tags:
    job_title.append(i.text)
    
job_title_10=job_title[0:10]
job_title_10

In [ ]:
locn_tags=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locn_tags

In [ ]:
job_locn=[]

for i in locn_tags:
    job_locn.append(i.text)
    
job_locn_10=job_locn[0:10]
job_locn_10

In [ ]:
name_tags=driver3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name_tags

In [ ]:
company_name=[]

for i in name_tags:
    company_name.append(i.text)
    
company_name_10=company_name[0:10]
company_name_10

In [ ]:
exp_tags=driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp_tags

In [ ]:
exp_reqd=[]

for i in exp_tags:
    exp_reqd.append(i.text)
    
exp_reqd_10=exp_reqd[0:10]
exp_reqd_10

In [ ]:
df3=pd.DataFrame({"Job Title":job_title_10,"Job Location":job_locn_10,"Company Name":company_name_10,"Experience Required":exp_reqd_10})
df3.index=np.arange(1,len(df3)+1)
df3

# Q4:

In [ ]:
driver4=webdriver.Chrome("chromedriver.exe")

In [ ]:
url4="https://www.flipkart.com/"
driver4.get(url4)

In [ ]:
search_field=driver4.find_element_by_class_name("_3704LK")
search_field

In [ ]:
search_field.send_keys("sunglasses")

In [ ]:
search_btn=driver4.find_element_by_class_name("L0Z3Pu")
search_btn

In [ ]:
search_btn.click()

In [ ]:
#Extracting the brand

brand_tags=driver4.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:2]

In [ ]:
brand=[]

for i in brand_tags:
    brand.append(i.text)
print(len(brand))    
brand

In [ ]:
desc_tags=driver4.find_elements_by_class_name('IRpwTa')
print(len(desc_tags))
desc_tags[0:2]

In [ ]:
pdt_desc=[]

for i in desc_tags:
    pdt_desc.append(i.text)
    
print(len(pdt_desc))
pdt_desc

In [ ]:
price_tags=driver4.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:2]

In [ ]:
price=[]

for i in price_tags:
    price.append(i.text.replace("₹",""))
    
price

In [ ]:
discount_tags=driver4.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_tags[0:2]

In [ ]:
discount=[]

for i in discount_tags:
    discount.append(i.text.replace("% off",""))
    
discount

In [ ]:
len(discount)

In [ ]:
next_btn=driver4.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [ ]:
next_btn.click()

In [ ]:
brand_tags=driver4.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:2]
len(brand_tags)

In [ ]:
for i in brand_tags:
    brand.append(i.text)
print(len(brand))    
brand

In [ ]:
desc_tags=driver4.find_elements_by_class_name('IRpwTa')
print(len(desc_tags))
desc_tags[0:2]

for i in desc_tags:
    pdt_desc.append(i.text)
    
print(len(pdt_desc))
pdt_desc

In [ ]:
price_tags=driver4.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:2]

for i in price_tags:
    price.append(i.text.replace("₹",""))
    
print(len(price))
price

In [ ]:
discount_tags=driver4.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_tags[0:2]

for i in discount_tags:
    discount.append(i.text.replace("% off",""))
    
print(len(discount))
discount

In [ ]:
next_btn=driver4.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn

In [ ]:
next_btn.click()

In [ ]:
brand_tags=driver4.find_elements_by_xpath("//div[@class='_2WkVRV']")
brand_tags[0:2]

for i in brand_tags:
    brand.append(i.text)
print(len(brand))    
brand_100=brand[0:100]
brand_100

In [ ]:
desc_tags=driver4.find_elements_by_class_name('IRpwTa')
print(len(desc_tags))
desc_tags[0:2]

for i in desc_tags:
    pdt_desc.append(i.text)
    
print(len(pdt_desc))
pdt_desc_100=pdt_desc[0:100]
pdt_desc_100

In [ ]:
price_tags=driver4.find_elements_by_xpath("//div[@class='_30jeq3']")
price_tags[0:2]

for i in price_tags:
    price.append(i.text.replace("₹",""))
    
print(len(price))
price_100=price[0:100]
price_100

In [ ]:
discount_tags=driver4.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
discount_tags[0:2]
len(discount_tags)

In [ ]:
for i in discount_tags:
    discount.append(i.text.replace("% off",""))
    
print(len(discount))
discount_100=discount[0:100]
discount_100
discount

In [ ]:
len(brand_100),len(pdt_desc_100),len(price_100),len(discount_100)

In [ ]:
df4=pd.DataFrame({"Brand":brand_100,"Product Description":pdt_desc_100,"Price(in ₹)":price_100,"Discount(in %)":discount_100})
df4.index=np.arange(1,len(df4)+1)
df4

# Q5:

In [ ]:
driver5=webdriver.Chrome("chromedriver.exe")

In [ ]:
url5="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace."
driver5.get(url5)

In [ ]:
all_reviews=driver5.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div")
all_reviews

In [ ]:
all_reviews.click()

In [ ]:
rating=[]
review_summary=[]
full_review=[]
urls=[]
rating_tags=driver5.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rev_sum_tags=driver5.find_elements_by_xpath("//p[@class='_2-N8zT']")
full_rev_tags=driver5.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in rating_tags:
    rating.append(i.text)
for i in rev_sum_tags:
    review_summary.append(i.text)
for i in full_rev_tags:
    full_review.append(i.text)
    
print(rating)
print(review_summary)
print(full_review)

In [ ]:


for page in range(2,10):
    page_url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&page="+str(page)
    driver5.get(page_url)
    
    rating_tags=driver5.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_sum_tags=driver5.find_elements_by_xpath("//p[@class='_2-N8zT']")
    full_rev_tags=driver5.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in rating_tags:
        rating.append(i.text)
    for i in rev_sum_tags:
        review_summary.append(i.text)
    for i in full_rev_tags:
        full_review.append(i.text)
    
print(rating)
print(review_summary)
print(full_review)

# Q6:

In [220]:
driver6=webdriver.Chrome("chromedriver.exe")

In [221]:
url="https://www.flipkart.com/"
driver6.get(url)

In [222]:
pop_up=driver6.find_element_by_xpath("/html/body/div[2]/div/div/button")
pop_up

In [223]:
pop_up.click()

In [224]:
search_pdt=driver6.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search_pdt

In [225]:
search_pdt.send_keys("sneakers")

In [226]:
search_btn=driver6.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [227]:
search_btn.click()

In [228]:
brand=[]
pdt_desc=[]
price=[]
discount=[]

for page in range(1,4):
    urls="https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(page)
    driver6.get(urls)
    brand_tags=driver6.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for j in brand_tags:
        brand.append(j.text)
    prd_desc_tags=driver6.find_elements_by_class_name('IRpwTa')
    for j in prd_desc_tags:
        pdt_desc.append(j.text)
    price_tags=driver6.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for j in price_tags:
        price.append(j.text)
    discount_tags=driver6.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
    for j in discount_tags:
        discount.append(j.text)

print(len(brand),len(pdt_desc),len(price),len(discount))
print(brand)
print(pdt_desc)
print(price)
print(discount)

120 120 120 120
['RapidBox', 'HRX by Hrithik Roshan', 'Magnolia', 'Chevit', 'TR', 'BRUTON', 'Magnolia', 'Navtrend', 'KWIK FIT', 'Kraasa', 'URBANBOX', 'Echor', 'corsac', 'World Wear Footwear', 'World Wear Footwear', 'RapidBox', 'D-SNEAKERZ', 'Shoes Bank', 'Magnolia', 'Deals4you', 'aadi', 'BRUTON', 'DUNKASTON', 'Echor', 'CAMPUS', 'luxury fashion', 'SCATCHITE', 'Echor', 'BRUTON', 'Kraasa', 'RapidBox', 'HRX by Hrithik Roshan', 'Kzaara', 'luxury fashion', 'BRUTON', 'CLYMB', 'India hub', 'BRUTON', 'Xtoon', 'Echor', 'Elevarse', 'RAFTAR FASHION', 'Chevit', 'HRX by Hrithik Roshan', 'Kraasa', 'BRUTON', 'BIRDE', 'RapidBox', 'World Wear Footwear', 'Vellinto', 'Chevit', 'Navtrend', 'Numenzo', 'Robbie jones', 'CLYMB', 'Echor', 'ASTEROID', 'ASIAN', 'ORICUM', 'Deals4you', 'Ktiz', 'D-SNEAKERZ', 'PUMA', 'RapidBox', 'AMICO', 'SPARX', 'SWIGGY', 'Echor', 'Echor', 'Zorth', 'ESSENCE', 'Echor', 'T-ROCK', 'Stinson', 'Robbie jones', 'Echor', 'CLYMB', 'LE GREEM', 'DUNKASTON', 'Numenzo', 'Bond Street By Red Tape', 'Magnolia', 'ESSENCE', 'HRX by Hrithik Roshan', 'aadi', 'Bretton', 'Chevit', 'Navtrend', 'Hida', 'Arohi', 'Echor', 'Echor', 'SPARX', 'bluemaker', 'WHITE WALKERS', 'Deals4you', 'WHITEHUB', 'luxury fashion', 'RapidBox', 'Echor', 'DUNKASTON', 'PUMA', 'Kraasa', 'Echor', 'Zorth', 'Kzaara', 'Rzisbo', 'RapidBox', 'bluemaker', 'Robbie jones', 'U.S. POLO ASSN.', 'Echor', 'BAUCHHAAR', 'Numenzo', 'FILA', 'CLYMB', 'Trendmode', 'Brainer', 'U.S. POLO ASSN.', 'Echor']
['Sneakers For Men', 'Men White Printed Sneakers Sneakers For Men', 'Sneakers For Men', 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Kwik FIT casual sneaker shoes and partywear shoes Casua...', 'Series 7 Sneakers For Men', 'Sneakers Sneakers For Men', "Echor Men's Sneakers Fashion Lightweight Running Shoes ...", 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men', '5011-Latest Collection Stylish Casual Loafer Sneakers S...', 'Sneakers For Men', 'Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", "White Sneaker For Men's/Boy's Sneakers For Men", 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...', 'Sneakers For Men', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'EXPLORE Sneakers For Men', 'Luxury Fashionable casual shoes Sneakers For Men', 'Sneakers For Men', "Men's casual shoes sports shoes black sneaker Sneakers ...", 'Sneaker Sneakers For Men', 'Shark-41 Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...', "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...", 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', "white Casual shoes,Sneakers for men's Sneakers For Men", 'Stylish & Trendy Shoe For Men Sneakers Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', '516 Trendy Star Perfect Sneakers For Men', 'Men White Printed Sneakers Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...', 'Sports Running Shoes Sneakers For Men', 'Sneakers For Men', 'Latest Collection-1227 Stylish Casual Sports Sneakers F...', 'Casual Sneakrs For Men Sneakers For Men', 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...', 'Sneakers For Men', '411 Casual Sneakers For Men', 'Sneakers For Men', "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...", "Echor Men's Sneakers Fashion Lightweight Running Shoes ...", 'Sneakers For Men', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Casual Sneakers Shoes for Men Pack of 5 Combo(O)-1667-3...', 'Sneakers For Men', 'Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'SM-439 Sneakers For Men', 'casual sneakers shoes For Mens Multicolor Combo(MR)-179...', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'Sneakers For Men', 'Sneakers For Men', "Men's casual shoes sports shoes black sneaker Sneakers ...", 'Stylish White Casual Sneakers shoes Men and Boys Sneake...', 'Sneakers For Men', 'Casual Sneakers White Shoes For Men Sneakers For Men', 'Stylish & Trendy Shoe For Men Sneakers Sneakers For Men', 'Sneakers For Men', 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...', 'Sneakers For Men', '411 Casual Sneakers For Men', 'Sneakers For Men', 'White Sneakers Sneakers For Men', 'Sneakers For Men', 'Men White Printed Sneakers Sneakers For Men', 'Sneakers For Men', 'Classy Stylish Ayasa Sneakers Sneakers For Men', 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', "Echor Men's Sneakers Fashion Lightweight Running Shoes ...", 'SM-439 Sneakers For Men', 'casual for men Sneakers For Men', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Sneakers For Men', 'Sneakers For Men', 'Fashionable sneaker shoes Sneakers For Men', 'Sneakers For Men', "Men's casual shoes sports shoes black sneaker Sneakers ...", 'Sneakers For Men', 'Rigel Sneakers For Men', 'Shark-41 Sneakers For Men', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...', 'Kzaara Sneakers Casual Canvas shoes | Branded Stylish O...', 'Sneakers For Men', 'Sneakers For Men', 'casual for men Sneakers For Men', 'Sneakers For Men', 'PANAL Sneakers For Men', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'sports shoes for men | Latest Stylish Casual sneakers f...', 'Sneakers For Men', 'Sneakers For Men', "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...", 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Stylish & Trendy Shoe For Men Sneakers Sneakers For Men']
['₹630', '₹2,049', '₹327', '₹501', '₹272', '₹209', '₹327', '₹379', '₹349', '₹394', '₹148', '₹433', '₹399', '₹149', '₹190', '₹580', '₹249', '₹248', '₹349', '₹331', '₹269', '₹421', '₹269', '₹424', '₹999', '₹357', '₹348', '₹424', '₹249', '₹394', '₹630', '₹1,849', '₹209', '₹439', '₹449', '₹199', '₹349', '₹449', '₹429', '₹433', '₹349', '₹649', '₹209', '₹2,049', '₹444', '₹486', '₹249', '₹630', '₹209', '₹549', '₹373', '₹379', '₹424', '₹424', '₹199', '₹433', '₹424', '₹498', '₹885', '₹331', '₹398', '₹334', '₹3,262', '₹580', '₹449', '₹799', '₹580', '₹424', '₹424', '₹397', '₹349', '₹424', '₹349', '₹209', '₹424', '₹433', '₹534', '₹399', '₹309', '₹424', '₹999', '₹307', '₹349', '₹2,049', '₹269', '₹201', '₹365', '₹379', '₹566', '₹395', '₹449', '₹433', '₹799', '₹424', '₹549', '₹331', '₹429', '₹449', '₹630', '₹424', '₹349', '₹1,377', '₹394', '₹424', '₹385', '₹209', '₹549', '₹580', '₹424', '₹424', '₹1,499', '₹424', '₹349', '₹379', '₹997', '₹199', '₹209', '₹449', '₹1,549', '₹433']
['37% off', '46% off', '67% off', '69% off', '73% off', '84% off', '67% off', '81% off', '83% off', '61% off', '85% off', '71% off', '73% off', '70% off', '62% off', '42% off', '62% off', '75% off', '65% off', '78% off', '73% off', '83% off', '82% off', '58% off', '47% off', '73% off', '65% off', '72% off', '81% off', '61% off', '37% off', '49% off', '79% off', '78% off', '82% off', '80% off', '83% off', '87% off', '71% off', '71% off', '65% off', '35% off', '74% off', '46% off', '56% off', '81% off', '50% off', '37% off', '58% off', '58% off', '75% off', '81% off', '79% off', '58% off', '80% off', '71% off', '79% off', '38% off', '65% off', '78% off', '60% off', '67% off', '64% off', '42% off', '70% off', '6% off', '42% off', '58% off', '58% off', '60% off', '65% off', '72% off', '65% off', '58% off', '58% off', '71% off', '64% off', '60% off', '79% off', '79% off', '76% off', '69% off', '65% off', '46% off', '73% off', '90% off', '80% off', '81% off', '43% off', '60% off', '70% off', '71% off', '6% off', '58% off', '54% off', '78% off', '57% off', '78% off', '37% off', '72% off', '77% off', '51% off', '61% off', '58% off', '61% off', '79% off', '45% off', '42% off', '58% off', '58% off', '50% off', '58% off', '65% off', '71% off', '67% off', '80% off', '70% off', '65% off', '61% off', '71% off']

In [229]:
brand_100=brand[0:100]
pdt_desc_100=pdt_desc[0:100]
price_100=price[0:100]
discount_100=discount[0:100]
print(brand_100)
print(pdt_desc_100)
print(price_100)
print(discount_100)

['RapidBox', 'HRX by Hrithik Roshan', 'Magnolia', 'Chevit', 'TR', 'BRUTON', 'Magnolia', 'Navtrend', 'KWIK FIT', 'Kraasa', 'URBANBOX', 'Echor', 'corsac', 'World Wear Footwear', 'World Wear Footwear', 'RapidBox', 'D-SNEAKERZ', 'Shoes Bank', 'Magnolia', 'Deals4you', 'aadi', 'BRUTON', 'DUNKASTON', 'Echor', 'CAMPUS', 'luxury fashion', 'SCATCHITE', 'Echor', 'BRUTON', 'Kraasa', 'RapidBox', 'HRX by Hrithik Roshan', 'Kzaara', 'luxury fashion', 'BRUTON', 'CLYMB', 'India hub', 'BRUTON', 'Xtoon', 'Echor', 'Elevarse', 'RAFTAR FASHION', 'Chevit', 'HRX by Hrithik Roshan', 'Kraasa', 'BRUTON', 'BIRDE', 'RapidBox', 'World Wear Footwear', 'Vellinto', 'Chevit', 'Navtrend', 'Numenzo', 'Robbie jones', 'CLYMB', 'Echor', 'ASTEROID', 'ASIAN', 'ORICUM', 'Deals4you', 'Ktiz', 'D-SNEAKERZ', 'PUMA', 'RapidBox', 'AMICO', 'SPARX', 'SWIGGY', 'Echor', 'Echor', 'Zorth', 'ESSENCE', 'Echor', 'T-ROCK', 'Stinson', 'Robbie jones', 'Echor', 'CLYMB', 'LE GREEM', 'DUNKASTON', 'Numenzo', 'Bond Street By Red Tape', 'Magnolia', 'ESSENCE', 'HRX by Hrithik Roshan', 'aadi', 'Bretton', 'Chevit', 'Navtrend', 'Hida', 'Arohi', 'Echor', 'Echor', 'SPARX', 'bluemaker', 'WHITE WALKERS', 'Deals4you', 'WHITEHUB', 'luxury fashion', 'RapidBox', 'Echor']
['Sneakers For Men', 'Men White Printed Sneakers Sneakers For Men', 'Sneakers For Men', 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Kwik FIT casual sneaker shoes and partywear shoes Casua...', 'Series 7 Sneakers For Men', 'Sneakers Sneakers For Men', "Echor Men's Sneakers Fashion Lightweight Running Shoes ...", 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men', '5011-Latest Collection Stylish Casual Loafer Sneakers S...', 'Sneakers For Men', 'Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", "White Sneaker For Men's/Boy's Sneakers For Men", 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...', 'Sneakers For Men', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'EXPLORE Sneakers For Men', 'Luxury Fashionable casual shoes Sneakers For Men', 'Sneakers For Men', "Men's casual shoes sports shoes black sneaker Sneakers ...", 'Sneaker Sneakers For Men', 'Shark-41 Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...', "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...", 'Luxury Fashionable casual sneaker shoes Sneakers For Me...', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', "white Casual shoes,Sneakers for men's Sneakers For Men", 'Stylish & Trendy Shoe For Men Sneakers Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', '516 Trendy Star Perfect Sneakers For Men', 'Men White Printed Sneakers Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...', 'Sports Running Shoes Sneakers For Men', 'Sneakers For Men', 'Latest Collection-1227 Stylish Casual Sports Sneakers F...', 'Casual Sneakrs For Men Sneakers For Men', 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...', 'Sneakers For Men', '411 Casual Sneakers For Men', 'Sneakers For Men', "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...", "Echor Men's Sneakers Fashion Lightweight Running Shoes ...", 'Sneakers For Men', 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...', 'Casual Sneakers Shoes for Men Pack of 5 Combo(O)-1667-3...', 'Sneakers For Men', 'Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'SM-439 Sneakers For Men', 'casual sneakers shoes For Mens Multicolor Combo(MR)-179...', "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", "Men's Sneakers Fashion Lightweight Running Shoes Tennis...", 'Sneakers For Men', 'Sneakers For Men', "Men's casual shoes sports shoes black sneaker Sneakers ...", 'Stylish White Casual Sneakers shoes Men and Boys Sneake...', 'Sneakers For Men', 'Casual Sneakers White Shoes For Men Sneakers For Men', 'Stylish & Trendy Shoe For Men Sneakers Sneakers For Men', 'Sneakers For Men', 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...', 'Sneakers For Men', '411 Casual Sneakers For Men', 'Sneakers For Men', 'White Sneakers Sneakers For Men', 'Sneakers For Men', 'Men White Printed Sneakers Sneakers For Men', 'Sneakers For Men', 'Classy Stylish Ayasa Sneakers Sneakers For Men', 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', "Echor Men's Sneakers Fashion Lightweight Running Shoes ...", 'SM-439 Sneakers For Men', 'casual for men Sneakers For Men', 'Stylish & Trending Outdoor Walking Comfortable Sneakers...', 'Sneakers For Men', 'Sneakers For Men', 'Fashionable sneaker shoes Sneakers For Men', 'Sneakers For Men', "Men's casual shoes sports shoes black sneaker Sneakers ..."]
['₹630', '₹2,049', '₹327', '₹501', '₹272', '₹209', '₹327', '₹379', '₹349', '₹394', '₹148', '₹433', '₹399', '₹149', '₹190', '₹580', '₹249', '₹248', '₹349', '₹331', '₹269', '₹421', '₹269', '₹424', '₹999', '₹357', '₹348', '₹424', '₹249', '₹394', '₹630', '₹1,849', '₹209', '₹439', '₹449', '₹199', '₹349', '₹449', '₹429', '₹433', '₹349', '₹649', '₹209', '₹2,049', '₹444', '₹486', '₹249', '₹630', '₹209', '₹549', '₹373', '₹379', '₹424', '₹424', '₹199', '₹433', '₹424', '₹498', '₹885', '₹331', '₹398', '₹334', '₹3,262', '₹580', '₹449', '₹799', '₹580', '₹424', '₹424', '₹397', '₹349', '₹424', '₹349', '₹209', '₹424', '₹433', '₹534', '₹399', '₹309', '₹424', '₹999', '₹307', '₹349', '₹2,049', '₹269', '₹201', '₹365', '₹379', '₹566', '₹395', '₹449', '₹433', '₹799', '₹424', '₹549', '₹331', '₹429', '₹449', '₹630', '₹424']
['37% off', '46% off', '67% off', '69% off', '73% off', '84% off', '67% off', '81% off', '83% off', '61% off', '85% off', '71% off', '73% off', '70% off', '62% off', '42% off', '62% off', '75% off', '65% off', '78% off', '73% off', '83% off', '82% off', '58% off', '47% off', '73% off', '65% off', '72% off', '81% off', '61% off', '37% off', '49% off', '79% off', '78% off', '82% off', '80% off', '83% off', '87% off', '71% off', '71% off', '65% off', '35% off', '74% off', '46% off', '56% off', '81% off', '50% off', '37% off', '58% off', '58% off', '75% off', '81% off', '79% off', '58% off', '80% off', '71% off', '79% off', '38% off', '65% off', '78% off', '60% off', '67% off', '64% off', '42% off', '70% off', '6% off', '42% off', '58% off', '58% off', '60% off', '65% off', '72% off', '65% off', '58% off', '58% off', '71% off', '64% off', '60% off', '79% off', '79% off', '76% off', '69% off', '65% off', '46% off', '73% off', '90% off', '80% off', '81% off', '43% off', '60% off', '70% off', '71% off', '6% off', '58% off', '54% off', '78% off', '57% off', '78% off', '37% off', '72% off']

In [231]:
df6=pd.DataFrame({"Brand":brand_100,"Product Description":pdt_desc_100,"Price":price_100,"Discount":discount_100})
df6.index=np.arange(1,len(df6)+1)
df6

,Brand,Product Description,Price,Discount
1,RapidBox,Sneakers For Men,₹630,37% off
2,HRX by Hrithik Roshan,Men White Printed Sneakers Sneakers For Men,"₹2,049",46% off
3,Magnolia,Sneakers For Men,₹327,67% off
4,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹501,69% off
5,TR,Sneakers For Men,₹272,73% off
...,...,...,...,...
96,Deals4you,Sneakers For Men,₹331,78% off
97,WHITEHUB,Sneakers For Men,₹429,57% off
98,luxury fashion,Fashionable sneaker shoes Sneakers For Men,₹449,78% off
99,RapidBox,Sneakers For Men,₹630,37% off
100,Echor,Men's casual shoes sports shoes black sneaker ...,₹424,72% off

# Q7:

In [239]:
driver7=webdriver.Chrome("chromedriver.exe")

In [240]:
url7="https://www.myntra.com/shoes"
driver7.get(url7)

In [246]:
price_filter=driver7.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter

In [247]:
price_filter.click()

In [243]:
color_filter=driver7.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter

In [244]:
color_filter.click()

In [248]:
brand=[]
pdt_desc=[]
price=[]

for page in range(1,3):
    urls="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&p="+str(page)+"&rf=Price%3A7134.0_14089.0_7134.0%20TO%2014089.0"
    driver7.get(urls)
    brand_tags=driver7.find_elements_by_xpath("//h3[@class='product-brand']")
    for j in brand_tags:
        brand.append(j.text)
    prd_desc_tags=driver7.find_elements_by_class_name('product-product')
    for j in prd_desc_tags:
        pdt_desc.append(j.text)
    price_tags=driver7.find_elements_by_xpath('//div[@class="product-price"]')
    for j in price_tags:
        price.append(j.text)
        
print(len(brand),len(pdt_desc),len(price))
print(brand)
print(pdt_desc)
print(price)

100 100 100
['Nike', 'ALDO', 'ALDO', 'Puma', 'ALDO', 'Puma', 'Puma', 'Hush Puppies', 'Puma', 'Puma', 'Nike', 'Puma', 'Hush Puppies', 'Hush Puppies', 'Puma', 'PUMA Motorsport', 'J.FONTINI', 'MANGO', 'Hush Puppies', 'Clarks', 'Saint G', 'Hush Puppies', 'Bugatti', 'ASICS', 'ALDO', 'Geox', 'TRIBAN By Decathlon', 'Clarks', 'ROSSO BRUNELLO', 'Saint G', 'J.FONTINI', 'FILA', 'J.FONTINI', 'J.FONTINI', 'Geox', 'Tommy Hilfiger', 'DAVINCHI', 'ALDO', 'Heel & Buckle London', 'Clarks', 'Saint G', 'J.FONTINI', 'Saint G', 'FILA', 'Sole To Soul', 'Sole To Soul', 'Sole To Soul', 'ROSSO BRUNELLO', 'Sole To Soul', 'ROSSO BRUNELLO', 'ROSSO BRUNELLO', 'ROSSO BRUNELLO', 'New Balance', 'Columbia', 'Columbia', 'Columbia', 'Geox', 'Bugatti', 'Cole Haan', 'Bugatti', 'Cole Haan', 'Columbia', 'Cobblerz', 'Xtep', 'Saint G', 'Geox', 'Geox', 'RARE RABBIT', 'Geox', 'Royal Enfield', 'ASICS', 'Cole Haan', 'Cole Haan', 'Geox', 'J.FONTINI', 'Cole Haan', 'Pavers England', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Sole To Soul', 'Bugatti', 'DAVINCHI', 'DAVINCHI', 'J.FONTINI', 'DAVINCHI', 'J.FONTINI', 'Saint G', 'Saint G', 'Saint G', 'DAVINCHI', 'Saint G', 'DAVINCHI', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Saint G']
['Men Winflo 7 Running Shoes', 'Men Printed Sneakers', 'Men Leather Driving Shoes', 'Electrify Nitro Running Shoes', 'Men Woven Design Sneakers', 'Eternity Nitro Running Shoes', 'Men Jamming 2.0 Running Shoes', 'Men Solid Leather Formal Slip-Ons', 'Men Training or Gym Shoes', 'Women Eternity NITRO Shoes', 'Men Air Max Dawn Sneakers', 'Women Velocity NITRO Runners', 'Men Formal Derbys', 'Men Solid Leather Formal Slip-Ons', 'Men FUSE Training Shoes', 'Unisex Ferrari Drift8 Sneakers', 'Men Black Leather Loafers', 'Women Solid Sneakers', 'Men Solid Leather Formal Derbys', 'Men Solid Formal Leather Derbys', 'Women Leather Block Heels', 'Men Solid Formal Slip-Ons', 'Men Textured Leather High-Top Flat Boots', 'Women Running Shoes', 'Wedge Sandals', 'Women Leather Pumps', 'Unisex Training or Gym Shoes', 'Men Leather Derbys', 'PU Block Pumps with Buckles', 'Men Mid-Top Chelsea Boots', 'Men Solid Loafers', 'Men Printed Trekking Shoes', 'Men Textured Leather Loafers', 'Men Textured Leather Loafers', 'Men Formal Derbys', 'Men Cleated Leather Sneakers', 'Men Textured Formal Leather Loafers', 'Leather Slim Heels', 'Men Formal Leather Derby', 'Men Solid Leather Formal Loafers', 'Striped Suede Flatform Heeled Boots', 'Men Leather Formal Loafers', 'Leather Party Block Mules', 'Women Leather Sneakers', 'Women Block Heeled Boots', 'High-Top Block Heeled Boots', 'Suede High-Top Block Heeled Boots', 'Printed PU Kitten Sandals', 'High-Top Platform Heeled Boots', 'PU Block Pumps with Buckles', 'PU Block Pumps with Buckles', 'Textured PU Block Pumps', 'Women Woven Running Shoes', 'PEAKFREAK XCRSN Trekking Shoe', 'Women REDMOND V2 TrekkingShoe', 'PEAKFREAK OUTDRY Trekking Shoe', 'Men Leather Driving Shoes', 'Men Solid Formal Oxfords', 'Men Wingtip Oxford Sneakers', 'Men Solid Leather Formal Derbys', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men FACET OUTDRY Trekking Shoe', 'Men Textured Leather Formal Derbys', 'Men Running Shoes', 'Women Leather Mules', 'Women Solid Leather Pumps', 'Women Solid Leather Pumps', 'Men Leather Flat Boots', 'Men Leather Loafers', 'Cabo WP Riding Boots', 'Men Colourblocked PU Sneakers', 'Women Open Toe Flats', 'Women Sneakers', 'Women Solid Leather Ballerinas', 'Men Leather Formal Loafers', 'Women Solid Leather Ballerinas', 'Men Leather Driving Shoes', 'Leather Heeled Knee High Boots', 'Women Leather Heeled Boots', 'Women Leather Heeled Boots', 'Women Leather Knee High Boots', 'Platform Peep Toes with Buckles', 'Block Heeled Boots', 'Ustraa black', 'Men Formal Leather Slip-Ons', 'Men Solid Leather Formal Loafers', 'Solid Slip On Shoes', 'Men Textured Leather Formal Loafers', 'Leather Wedge Heeled Boots with Buckles', 'Leather High-Top Block Heeled Boots', 'Leather Kitten Heeled Boots', 'Men Solid Leather Formal Derbys', 'Printed Flatform Heeled Boots with Buckles', 'Men Textured Formal Leather Loafers', 'Leather Platform Heeled Boots', 'Leather Block Heeled Boots with Bows', 'Leather High-Top Heeled Boots', 'Suede Party High-Top Block Heeled Boots', 'Suede High-Top Flatform Heeled Boots', 'Leather Boots with Buckles']
['Rs. 7995', 'Rs. 9099Rs. 12999(30% OFF)', 'Rs. 12999', 'Rs. 9999', 'Rs. 13999', 'Rs. 12999', 'Rs. 12999', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 7999', 'Rs. 9099Rs. 12999(30% OFF)', 'Rs. 10995', 'Rs. 7149Rs. 10999(35% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 7999', 'Rs. 7999', 'Rs. 8490', 'Rs. 7192Rs. 8990(20% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 9999', 'Rs. 7480Rs. 8500(12% OFF)', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 8399Rs. 11999(30% OFF)', 'Rs. 7999', 'Rs. 7999', 'Rs. 8999', 'Rs. 8029Rs. 10999(27% OFF)', 'Rs. 7499', 'Rs. 7499', 'Rs. 10500Rs. 10900(Rs. 400 OFF)', 'Rs. 8990', 'Rs. 11599', 'Rs. 8490', 'Rs. 7990', 'Rs. 9990', 'Rs. 7739Rs. 8599(10% OFF)', 'Rs. 8990', 'Rs. 8399Rs. 11999(30% OFF)', 'Rs. 7990', 'Rs. 7999', 'Rs. 8415Rs. 9900(15% OFF)', 'Rs. 7490', 'Rs. 7380Rs. 8200(10% OFF)', 'Rs. 8499', 'Rs. 8900', 'Rs. 7900', 'Rs. 9500', 'Rs. 8499', 'Rs. 8900', 'Rs. 7999', 'Rs. 7999', 'Rs. 7999', 'Rs. 7149Rs. 12999(45% OFF)', 'Rs. 9999', 'Rs. 7999', 'Rs. 9999', 'Rs. 9499', 'Rs. 8999', 'Rs. 12999', 'Rs. 9499', 'Rs. 11999', 'Rs. 12999', 'Rs. 8999Rs. 9999(Rs. 1000 OFF)', 'Rs. 7699', 'Rs. 7216Rs. 8200(12% OFF)', 'Rs. 7999', 'Rs. 10990', 'Rs. 8099Rs. 9999(19% OFF)', 'Rs. 9999', 'Rs. 8500', 'Rs. 9999', 'Rs. 11999', 'Rs. 12999', 'Rs. 8999', 'Rs. 7490', 'Rs. 13999', 'Rs. 7499', 'Rs. 12325Rs. 14500(15% OFF)', 'Rs. 12325Rs. 14500(15% OFF)', 'Rs. 14025Rs. 16500(15% OFF)', 'Rs. 11815Rs. 13900(15% OFF)', 'Rs. 7690', 'Rs. 7699Rs. 10999(30% OFF)', 'Rs. 8990', 'Rs. 8990', 'Rs. 9990', 'Rs. 7990', 'Rs. 8990', 'Rs. 12665Rs. 14900(15% OFF)', 'Rs. 14025Rs. 16500(15% OFF)', 'Rs. 8415Rs. 9900(15% OFF)', 'Rs. 9990', 'Rs. 8415Rs. 9900(15% OFF)', 'Rs. 8990', 'Rs. 9265Rs. 10900(15% OFF)', 'Rs. 11815Rs. 13900(15% OFF)', 'Rs. 10625Rs. 12500(15% OFF)', 'Rs. 8925Rs. 10500(15% OFF)', 'Rs. 11475Rs. 13500(15% OFF)', 'Rs. 8925Rs. 10500(15% OFF)']

In [249]:
df7=pd.DataFrame({"Brand":brand,"Product Description":pdt_desc,"Price":price})
df7.index=np.arange(1,len(df7)+1)
df7

,Brand,Product Description,Price
1,Nike,Men Winflo 7 Running Shoes,Rs. 7995
2,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
3,ALDO,Men Leather Driving Shoes,Rs. 12999
4,Puma,Electrify Nitro Running Shoes,Rs. 9999
5,ALDO,Men Woven Design Sneakers,Rs. 13999
...,...,...,...
96,Saint G,Leather Block Heeled Boots with Bows,Rs. 11815Rs. 13900(15% OFF)
97,Saint G,Leather High-Top Heeled Boots,Rs. 10625Rs. 12500(15% OFF)
98,Saint G,Suede Party High-Top Block Heeled Boots,Rs. 8925Rs. 10500(15% OFF)
99,Saint G,Suede High-Top Flatform Heeled Boots,Rs. 11475Rs. 13500(15% OFF)
100,Saint G,Leather Boots with Buckles,Rs. 8925Rs. 10500(15% OFF)

# Q8:

In [463]:
driver8=webdriver.Chrome("chromedriver.exe")

In [464]:
url8="https://www.amazon.in/"
driver8.get(url8)

In [465]:
search=driver8.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search

In [466]:
search.send_keys("Laptop")

In [467]:
search_btn=driver8.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_btn

In [468]:
search_btn.click()

In [469]:
chk_box1=driver8.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a/div/label/i")
chk_box1.click()

In [472]:
# Extracting titles

title=[]

title_tag=driver8.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tag:
    title.append(i.text)
    
title_10=title[0:10]
title_10

['ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'Acer Predator Helios 300 Gaming Laptop 11th Gen Intel Core i9-11900H 15.6" (39.62cms) FHD IPS Display (16 GB/1TB SSD/Win 11 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/300 Hz, Black, 2.3 kg) PH315-54',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FHD 240Hz/3ms, Intel Core i7-11370H 11th Gen, 8GB RTX 3070 Graphics, Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Gray/2 Kg), FX516PRZ-AZ122TS',
 'ASUS VivoBook K15 OLED (2021), 15.6-inch (39.62 cms) FHD OLED, Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Office 2021/Windows 11/Silver/1.8 Kg) K513EA-L712WS']

In [503]:
# Extracting ratings

rating=[]
j=0
rating_tag=driver8.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']")
print(rating_tag)
print(len(rating_tag))
for i in rating_tag:
    if rating_tag[j]!=False:
        child=i.find_element_by_tag_name('span')
        rating.append(child.text)
        j=j+1
    else:
        print("NA")
    
'''for i in rating_tag:
    rating.append(i.text)'''
    
rating

[<selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="cc06b12d-0f27-4270-9ab8-8bfe50d63a8e")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="71b8722f-a60c-4a8c-a430-2d67e150d51d")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="a293e6f2-ead9-4fec-8482-e84d4fed504b")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="07cb610b-0f37-4ee5-a5d4-65a73169c129")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="b542ceb4-d1f6-48de-b52f-88f81c48a599")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="cd125ad0-75ba-4fce-a02d-00d24cdb45d3")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="651f26e2-7d23-4488-ae5e-0b6d52df4dc3")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="f4fa3821-1cbd-4645-be2e-21796fe678ad")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="1333e864-5dcd-4427-af71-23c0b07e7ec1")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="eb9492e5-d117-46b2-a1d4-89db52d062cb")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="8c6bdca6-f07f-4282-a66f-2e141e847189")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="ceeb4912-f0fa-4090-adee-d1acb50c7a6c")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="0dbcc553-25a5-4a33-9907-e6df703566ad")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="a55e9ef6-6312-4931-aaf8-7805d0f6bed7")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="70dc123a-01fc-4784-8bb8-1bc15cd20872")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="83817e24-3e92-4bce-937a-b5d1cce8dd90")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="094d6fa8-1025-4220-bb3d-ff1e65d0e5ae")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="5badf0e6-f6bc-4442-869e-52be094629a5")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="b8dda5f6-38d1-4605-811b-dfedc90b2df7")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="2caea95a-16f3-4306-9109-09e233af311b")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="202d9997-6109-400f-840f-a2fd7ef7b3a6")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="f7311fcb-252f-4430-b01f-e9b94647c609")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="d1d88325-d83a-48c7-bcc5-a934a91fa42c")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="c9e5aa17-8126-4a06-bc90-00ce2e619d95")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="79a2e85a-df2e-4b90-a6f0-f6d882a5887e")>, <selenium.webdriver.remote.webelement.WebElement (session="6d1d3fd85fac4fe3d649ad15fd878dd2", element="c857609d-2bef-42b6-adb8-e8144456488f")>]
26

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [506]:
# Extracting price

price=[]

price_tags=driver8.find_elements_by_xpath("//span[@class='a-price-whole']")

for i in price_tags:
    if price_tags==True:
        price.append(i.text)
    
print(len(price))
print(price)

0
[]

# Q9:

In [352]:
driver9=webdriver.Chrome("chromedriver.exe")

In [353]:
url9="https://www.ambitionbox.com/"
driver9.get(url9)

In [354]:
job_btn=driver9.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job_btn.click()

In [355]:
search_bar=driver9.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
search_bar.send_keys("Data Scientist")

In [356]:
search_btn=driver9.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button")
search_btn.click()

In [357]:
location=driver9.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
location.click()

In [358]:
location_input=driver9.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location_input.send_keys("Noida")

In [360]:
locn_input_slt=driver9.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
locn_input_slt.click()

In [361]:
# Extracting company name:

company_name=[]
name_tags=driver9.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in name_tags:
    company_name.append(i.text)
    
print(company_name[0:10])

['NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED', 'HCL Technologies Limited', 'Optum Global Solutions (India) Private Limited', 'WSP CONSULTANTS INDIA PRIVATE LIMITED', 'Microsoft India (R and D) Pvt Ltd', 'HCL Technologies Ltd', 'Jubilant Foodworks Limited', 'HCL Technologies', 'RATEGAIN TRAVEL TECHNOLOGIES LIMITED', 'Hanu Software Solutions Pvt Ltd']

In [368]:
# Extracting the no. of days ago when job was posted

days_ago=[]
days_tags=driver9.find_elements_by_xpath('//span[@class="body-small-l"]')
for i in days_tags:
    days_ago.append(i.text)
        
for j in days_ago:
    if j=="via naukri.com":
        days_ago.remove(j)
print(days_ago[0:10])

['7d ago', '8d ago', '18d ago', '8d ago', '19d ago', '16d ago', '6d ago', '23d ago', '19hr ago', '8d ago']

In [369]:
# Extracting rating of the company

rating=[]
rating_tags=driver9.find_elements_by_xpath('//span[@class="body-small"]')
for i in rating_tags:
    rating.append(i.text)
    
print(rating[0:10])

['3.9', '3.8', '4.1', '4.2', '4.2', '3.8', '3.9', '3.8', '3.8', '3.7']

In [370]:
company_name_10=company_name[0:10]
days_ago_10=days_ago[0:10]
rating_10=rating[0:10]

df9=pd.DataFrame({"Company Name":company_name_10," No. of days ago when job was posted":days_ago_10,"Rating of the Company":rating_10})
df9.index=np.arange(1,len(df9)+1)
df9

,Company Name,No. of days ago when job was posted,Rating of the Company
1,NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED,7d ago,3.9
2,HCL Technologies Limited,8d ago,3.8
3,Optum Global Solutions (India) Private Limited,18d ago,4.1
4,WSP CONSULTANTS INDIA PRIVATE LIMITED,8d ago,4.2
5,Microsoft India (R and D) Pvt Ltd,19d ago,4.2
6,HCL Technologies Ltd,16d ago,3.8
7,Jubilant Foodworks Limited,6d ago,3.9
8,HCL Technologies,23d ago,3.8
9,RATEGAIN TRAVEL TECHNOLOGIES LIMITED,19hr ago,3.8
10,Hanu Software Solutions Pvt Ltd,8d ago,3.7

# Q10:

In [396]:
driver10=webdriver.Chrome("chromedriver.exe")

In [397]:
url10="https://www.ambitionbox.com/"
driver10.get(url10)

In [398]:
salary_btn=driver10.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary_btn.click()

In [401]:
job_profile=driver10.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
job_profile.send_keys("Data Scientist")

In [441]:
# Extracting company name

company_name=[]

name_tag=driver10.find_elements_by_xpath('//div[@class="name"]')
for i in name_tag:
    child=i.find_element_by_tag_name("a")
    company_name.append(child.text)
    
company_name_10=company_name[0:10]
company_name_10

['Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson',
 'Deloitte']

In [442]:
# Extracting total salary record

sal_record=[]
sal_record_tag=driver10.find_elements_by_xpath('//div[@class="name"]')
for i in sal_record_tag:
    child=i.find_element_by_tag_name("span")
    sal_record.append(child.text)
    
sal_record_10=sal_record[0:10]
sal_record_10

['based on 28 salaries',
 'based on 15 salaries',
 'based on 25 salaries',
 'based on 77 salaries',
 'based on 33 salaries',
 'based on 52 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 43 salaries',
 'based on 57 salaries']

In [443]:
# Extracting average salary

avg_sal=[]
avg_sal_tag=driver10.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avg_sal_tag:
    avg_sal.append(i.text)
    
avg_sal_10=avg_sal[0:10]
avg_sal_10

['₹ 20.3L',
 '₹ 15.3L',
 '₹ 15.1L',
 '₹ 15.1L',
 '₹ 14.4L',
 '₹ 13.9L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L',
 '₹ 11.7L']

In [447]:
# Extracting minimum and maximum salary

sal=[]
sal_tag=driver10.find_elements_by_xpath("//div[@class='value body-medium']")
for i in sal_tag:
    sal.append(i.text)
    
min_sal=sal[0::2]
max_sal=sal[1::2]
    
min_sal_10=min_sal[0:10]
max_sal_10=max_sal[0:10]
print(min_sal_10)
print(max_sal_10)

['₹ 15.0L', '₹ 9.5L', '₹ 11.0L', '₹ 9.5L', '₹ 8.3L', '₹ 8.3L', '₹ 10.0L', '₹ 8.5L', '₹ 5.8L', '₹ 6.9L']
['₹ 25.5L', '₹ 20.0L', '₹ 21.3L', '₹ 22.0L', '₹ 20.0L', '₹ 20.5L', '₹ 21.0L', '₹ 15.0L', '₹ 24.0L', '₹ 23.4L']

In [453]:
# Extracting experience required

exp=[]
exp_tag=driver10.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in exp_tag:
    exp.append(i.text.replace("Data Scientist\n . \n",""))
    
exp_10=exp[0:10]
exp_10

['3-4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp']

In [454]:
df10=pd.DataFrame({"Company Name":company_name_10,"Total Salary Record":sal_record_10,"Average Salary":avg_sal_10,"Minimum Salary":min_sal_10,"Maximum Salary":max_sal_10,"Experience Required":exp_10})
df10.index=np.arange(1,len(df10)+1)
df10

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
1,Ab Inbev,based on 28 salaries,₹ 20.3L,₹ 15.0L,₹ 25.5L,3-4 yrs exp
2,ZS,based on 15 salaries,₹ 15.3L,₹ 9.5L,₹ 20.0L,2 yrs exp
3,Optum,based on 25 salaries,₹ 15.1L,₹ 11.0L,₹ 21.3L,3-4 yrs exp
4,Fractal Analytics,based on 77 salaries,₹ 15.1L,₹ 9.5L,₹ 22.0L,2-4 yrs exp
5,Tiger Analytics,based on 33 salaries,₹ 14.4L,₹ 8.3L,₹ 20.0L,3-4 yrs exp
6,UnitedHealth,based on 52 salaries,₹ 13.9L,₹ 8.3L,₹ 20.5L,2-4 yrs exp
7,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
8,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp
9,Ericsson,based on 43 salaries,₹ 11.9L,₹ 5.8L,₹ 24.0L,3-4 yrs exp
10,Deloitte,based on 57 salaries,₹ 11.7L,₹ 6.9L,₹ 23.4L,2-4 yrs exp